
.container {
    width: 100%;
    font-size: 0;       /* 取消因为回车符号造成的空白间隙 */
    float: left;
}


/* left */

.left {
    width: 25%;
    display: inline-block;
    float: left;
}


.left a {
    color: #0366d6;
}


.block {
    margin: 20px;
}

.search-wrap {
    background-color: #f3f5f8;
}

.search-wrap>input {
    line-height: 40px;
    width: 70%;
    border-radius: inherit;
    border: 0px;
    border-right: 1px solid #d1d5da;
    padding: 0px 0px 0px 5%;
}

.search-wrap>a {
    color: #586069;
    width: 20%;
    display: inline-block;
    text-align: center;
}


/* main */

.main {
    width: 73%;
    display: inline-block;
    float: left;
    margin: 20px 0px 50px 0px;
    border: 1px solid #d1d5da;
    border-radius: 5px;
    line-height: 40px;
    font-size: 14px;
}

/* filter */

.filter-wrap {
    padding-left: 10px;
    border-bottom: 1px solid #d1d5da;
}

.filter-wrap select {
    width: 20%;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.confirm {
    width: 20%;
    margin: 20px 10px;
}


/* display */

.display {
    margin: 20px;
}

.display .display-col {
    height: 200px;
    width: 20%;
    margin: 0 2%;
}







