.container {
    width: 100%;
}

.block {
    width: 96%;
    margin: 2%;
}

form {
    padding: 20px 2%;
}

form>input[type="text"] {
    line-height: 30px;
    width:96%;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 10px;
}

form>textarea {
    height: 90px;
    width:96%;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px 0px 10px 10px;
}

form>button {
    width: 100px;
}

#img-show {
    /*height: 200px;*/
    /*width: 300px;*/
    /*display: none;*/
    display: block;
    margin-top: 20px;
    text-align: left;
}

#uploadBtn {
    width: 200px;
}
