body {
    margin: 0px;
}

.container {
    line-height: 0px;
}

/* display */
.display {
    width: 92%;
    padding: 4%;
}

.display-row {
}

.display-col {
    width: 25%;
    display: inline-block;
    padding: 2%;
    background-color: rgba(128, 128,128,0.3);
    height: 350px;
    margin: 2%;
    vertical-align: top;
    border-radius: 20px;
}

.display-col div {
    height: 80%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.display-col div img {
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.display-col .title {
    margin-left: 5%;
    height: 20px;
    line-height: 20px;
    text-transform:uppercase;
    font-weight:bold;
    position: relative;
}

.display-col .intro {
    margin-left: 5%;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    color: rgba(127,127,127,0.7);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

/* float button */

.refresh {
    background-color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 2;
    padding: 7px;
    box-shadow: 5px 5px 5px #888888;
}

.refresh img {
    height: 30px;
    width: 30px;
}

.back2top {
    background-color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 120px;
    right: 50px;
    z-index: 2;
    padding: 7px;
    box-shadow: 5px 5px 5px #888888;
}

.back2top img {
    height: 30px;
    width: 30px;
}

/* footer */

.footer {
    background-color: #212121;
    height: 250px;
    padding: 20px;
    position: static;   /* reset */
}

.footer>.details {
    width: 100%;
    height: 180px;
}

.footer>.details>.footer-col-container {
    display: inline-block;
    height: 180px;
    width: 80%;
}

.footer-col {
    height: 200px;
    display: inline-block;
    width: 30%;
    float: left;
}

.footer-col>p {
    line-height: 40px;
    color: white;
    text-align: center;
}

.footer-col>div {
    text-align: center;
}

.footer-col img{
    height: 40px;
    width: auto;
    margin: 15px;

}

.footer>.details>img {
    height: 150px;
    width: auto;
    display: inline-block;
    float: right;
}


.footer>.copyright {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    color: white;
    text-align: center;
}











