.container {
    width: 100%;
    font-size: 0;       /* 取消因为回车符号造成的空白间隙 */
}

.block {
    width: 96%;
    margin: 2%;
}

/* form */

.block>form {
    padding: 10px 20px;

}

form>input[type="radio"]{

}

form>input[type="text"] {
    line-height: 30px;
    width:95%;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 10px;
}

form>textarea {
    height: 90px;
    width:95%;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px;
}


form>button {
    width: 100px;
}

/* result */

.result-row {
    padding: 20px;
    line-height: 0px;
    border-top: 1px solid #d1d5da;

}

.result-row>.img{
    height: 200px;
    width: 20%;
    margin-right: 2%;
    display: inline-block;
}

.result-row>.details {
    display: inline-block;
    float: right;
    width: 78%;
    line-height: 30px;
}

.details>p {
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}


